# Environment variables
WORKSPACE_ID= cd9d50ba-02d3-43b3-b4fa-8d4648037c26
CONVERSATION_USERNAME= 178ce671-0b86-4dd9-9cfc-808170696745
CONVERSATION_PASSWORD= bHeTAeoUDJYa

###################################################
# Optional params, delete any which are not used! #
###################################################

# Params to enable Text to Speech
TEXT_TO_SPEECH_USERNAME=
TEXT_TO_SPEECH_PASSWORD=

# Params to enable Speech to Text
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=
